.bg-white {
  height: 100vh;
  width: 100vw;
  .header {
    height: 50px;
    width: 100%;
    border: 1px solid #828282;
    .header_container {
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .header_logo {
        height: 50px;
      }
      .header_signout {
        list-style: 1;
        margin-left: 5px;
        color: #828282;
      }
    }
  }
  .procedures_list_wrapp {
    height: calc(100% - 106px);
    width: 100vw;
    overflow-y: auto;
    .loader_container {
      position: relative;
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .footer {
    position: fixed;
    bottom: 0;
    background-color: #232323;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 40px;
    }
  }
}
